/* =========== MEDIA QUERIES =========== */

@media (min-width: 375px) {
    :root {
        --fs-1: 50px;
        --fs-2: 45px;
        --fs-7: 18px;
        --px: 30px;
    }

    .section-subtitle {
        font-size: var(--fs-7);
    }
}

@media (min-width: 575px) {
    :root { --px: 40px; }
}

@media (min-width: 767px) {
    :root {
      --fs-1: 60px;
      --fs-2: 50px;
      --fs-7: 20px;
      --px: 60px;
    }

    .category .course-item-group,
    .course-grid { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 850px) {
    :root { --px: 140px; }
}

@media (min-width: 992px) {
    :root { --fs-5: 16px; --px: 30px; --py: 120px; }

    .navbar { padding: 20px var(--px); }

    .navbar-nav {
      background: transparent;
      position: static;
      box-shadow: none;
      padding: 0;
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .nav-item:not(:last-child) a { border-bottom: none; }
    .nav-toggle-btn { display: none; }
    .navbar .btn { display: block; }
}

@media (min-width: 1200px) {
    :root {
      --fs-1: 70px;
      --fs-2: 55px;
      --fs-3: 40px;
      --fs-4: 25px;
      --fs-7: 22px;
      --px: 120px;
    }

    .category .course-item-group { grid-template-columns: repeat(3, 1fr); }
}
